<!-- <div class="row p-2">
  <nav aria-label="breadcrumb ">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a
          routerLink="/rooms"
          class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
          >Rooms</a
        >
      </li>
      <li class="breadcrumb-item text-warning" aria-current="page">
        Single Room
      </li>
    </ol>
  </nav>
</div> -->
<div class="row">
  <div class="col-12 mx-auto m-2" *ngFor="let room of rooms">
    <div class="card">
      <img
        src="{{ room?.images }}"
        class="card-img-top"
        alt="{{ room?.roomtype }}"
      />
      <div class="card-body">
        <h5 class="card-title pb-2 text-dark">
          {{ room?.details }}
        </h5>
        <span>room id: {{ room?._id }}</span>
        <h6 class="text-dark">price:{{ room?.price }}</h6>
        <button class="btn btn-warning">Get the room now</button>
      </div>
    </div>
  </div>
</div>
